<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <%- include layout %>
    <div class="container">
        <% projects.forEach(function(project){ %>
            <img class="my-4 img-thumbnail" src="/images/<%=project.image%>">
            <p>
                <strong>ชื่อโปรเจค</strong>
                <%= project.name %>
            </p>
            <p>
                <strong>รายละเอียด</strong>
                <%- project.description %>
            </p>
            <p>
                <strong>วันเริ่มโปรเจค</strong>
                <%= project.date %>
            </p>
        <%})%>
    </div>
</body>
</html>